<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Database=PleasureIsland;Server=ap-cdbr-azure-southeast-a.cloudapp.net;Uid=b7ef716311213b;Pwd=e4719998" name="PleasureIsland" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>